 <main >
    <h1>Welcome Back John
      <button class="btn" id="myBtn"><i class="fas fa-plus"></i>Add Submission</button>
    </h1>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <form>
          <h2>Add Submission</h2>
          <p>Please enter the details for the submission</p>
          <div class="form-group">
            <label for="name"> Name</label>
            <input type="text" id="name" name="name" >
          </div>
          <div class="form-group">
            <label for="course">course</label>
            <input type="text" id="topic" name="topic" >
          </div>
          <div class="form-group">
            <label for="submission-link">Submission Link</label>
            <input type="text" id="session" name="session" >
          </div>
          <div class="drop-zone">
            <p class="drop-zone__prompt"> <span>click to upload</span> or drag and drop
             SVG,PNG,JPG OR GIF(max.800*400px)
            </p>
            <input type="file" name="myFile" class="drop-zone__input">
          </div>
          
         <div class="button">
          <input type="submit" value="close" class="btn1-submit close">
          <input type="submit" value="Submit" class="btn2-submit">
        </div>
        </form>
      </div>
    </div>
    <div class="cards">
        <div class="card">
          <div class="header">
           
            <p class="alert">Total Sessions
              
            </p>
          </div>
          <div class="graphs">
            <span>15</span>
            <div class="graph">
              
            </div>
          </div>
          
        </div>
        <div class="card">
          <div class="header">
           
            <p class="alert">Missed Sessions</p>
          </div>
          <div class="graphs">
            <span>4</span>
            <div class="graph">
              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
           
            <p class="alert">Total Submissions</p>
          </div>
          <div class="graphs">
            <span>4</span>
            <div class="graph">
              
            </div>
          </div>
        </div>   
    </div>
   
   
    
    <!-- input -->
    <div class="content">
      <form id="animated">
      <input type="text" name="search" placeholder="Search..">
      </form>
      <div class="table">
        <section class="table__body">
          <table>
              <thead>
                  <tr>
                      <th> <input type="checkbox"></th>
                      <th> Course Name</th>
                      <th> Topic</th>
                      <th> Session Details</th>
                      <th>Attendence</th>
                      
                      
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td> 1 </td>
                      <td> Zinzu Chan Lee</td>
                      <td>
                        <p class="status course">Indroduction to UI/UX</p>
                    </td>
                      <td> Thursday,26th/05/2023 <br>
                      meet.google.com/xyz-abc
                      </td>
                      <td><div class="table-buttons">
                        <button class="missed">Missed</button>
                        <button class="attend">Attend</button>
              
                      </div></td>
                      
                     
                  </tr>
                  <tr>
                      <td> 2 </td>
                      <td>Jeet Saru </td>
                      <td>
                        <p class="status course">Indroduction to UI/UX</p>
                    </td>
                    <td> Friday,27th/05/2023 <br>
                      meet.google.com/xyz-abc
                      </td>
                      <td> <div class="table-buttons">
                        <button class="missed">Missed</button>
                        <button class="attend">Attend</button>
              
                      </div> </td>
                     
                      
                  </tr>
                  <tr>
                      <td> 3</td>
                      <td> Sonal Gharti </td>
                      <td>
                        <p class="status course">Indroduction to UI/UX</p>
                    </td>
                    <td> Monday,29th/05/2023 <br>
                      meet.google.com/xyz-abc
                      </td>
                      <td> <div class="table-buttons">
                        <button class="missed">Missed</button>
                        <button class="attend">Attend</button>
              
                      </div> </td>
                      
                      
                  </tr>
                                 
              </tbody>
              
          </table>
          <div class="table-btn">
            <button class="pre">Previous</button>
            <button class="next">Next</button>
          </div>
          
      </div>
  </div>
  
  </main>