<nav>
  <div class="sidebar-top">
    <span class="shrink-btn">
      <i class='bx bx-chevron-left'></i>
    </span>
    <h3 class="hide">Tutor Learner</h3>
  </div>

  <!-- <div class="search">
    <i class='bx bx-search'></i>
    <input type="text" class="hide" placeholder=" Search ...">
  </div> -->

  <div class="sidebar-links">
    <ul>
      <!-- <div class="active-tab"></div> -->
      <li class="tooltip-element" data-tooltip="0">
        <a href="home" class="active" data-active="0">
          <div class="icon">
            <i class="fas fa-home"></i>
            <i class="fas fa-home"></i>
          </div>
          <span class="link hide">Home</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="1">
        <a href="admin_dashboard" data-active="1">
          <div class="icon">
            <i class='bx bx-folder'></i>
            <i class='bx bxs-folder'></i>
          </div>
          <span class="link hide">Dashboard</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="3">
        <a href="tutors_admin" data-active="3">
          <div class="icon">
            <i class='bx bx-bar-chart-square'></i>
            <i class='bx bxs-bar-chart-square'></i>
          </div>
          <span class="link hide">Tutor</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="3">
        <a href="courses_admin" data-active="3">
          <div class="icon">
            <i class='bx bx-bar-chart-square'></i>
            <i class='bx bxs-bar-chart-square'></i>
          </div>
          <span class="link hide">Course</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="3">
        <a href="tutor_topics" data-active="3">
          <div class="icon">
            <i class="fas fa-book"></i>
            <i class="fas fa-book"></i>
          </div>
          <span class="link hide">Topics</span>
        </a>
      </li>
      <li class="tooltip-element" data-tooltip="3">
        <a href="enroll_admin" data-active="3">
          <div class="icon">
            <i class='bx bx-bar-chart-square'></i>
            <i class='bx bxs-bar-chart-square'></i>
          </div>
          <span class="link hide">Enrollement</span>
        </a>
      </li>
    </ul>

  </div>

  <div class="sidebar-footer">
    <a href="" class="account tooltip-element" data-tooltip="0">
      <i class='bx bx-user'></i>
    </a>
    <div class="admin-user tooltip-element" data-tooltip="1">
      <div class="admin-profile hide">
        <!-- <img src="./img/face-1.png" alt=""> -->
        <div class="admin-info">
          <h3><?=$_SESSION['user']['name']; ?></h3>
          <h5><?=$_SESSION['user']['email']; ?></h5>
        </div>
      </div>
      <a href="index.php?module=dashboard&action=logout" class="log-out">
        <i class='bx bx-log-out'></i>
      </a>
    </div>
    <div class="tooltip">
      <span class="show"></span>
      <span>Logout</span>
    </div>
  </div>
</nav>