<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<!--  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="table.css">
  <link rel="stylesheet" href="file-upload.css">-->
<?php include VIEW_PATH . '/assectControl/'. $variable['pageObj']->templatescss .'.html'; ?>
</head>

<body>
    <!-- navigation bar section -->
    <?php include VIEW_PATH . '/layout/learner_nav.html'; ?>
      <!-- navigation bar section -->
 
      <!--  main section -->
      <?php include MODULE_PATH . $template.'.html'; ?>
      <!-- main section -->
      
 
  <?php include VIEW_PATH . '/assectControl/'. $variable['pageObj']->templatesjs .'.html'; ?>
</body>

</html>