<main >
    
  <div class="main-top">
    <h1>Tutor Details</h1>
  </div>
 
  <!-- table -->
  
    <div class="table">
      <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> <input type="checkbox"></th>
                    <th> Tutor Name </th>
                    <th> Course</th>
                    <th> Email Address </th>
                    <th>Phone Number</th>
                    <th>Area(s) of Expertise</th>
                    <th>Qualifications</th>
                    <th>Rate</th>
                    
                    
                    
                </tr>
            </thead>
            <tbody>
              <?php $i = 1; foreach($variable['tutors'] as $t) { ?>
                <tr>
                    <td> <?=$i;?> </td>
                    <td><?=$t->username ?? " " ?></td>
                    <td>
                      <!-- <p class="status paid">Paid</p> -->
                  </td>
                  <td><?=$t->email ?? " " ?></td>
                  <td><?=$t->phone ?? " " ?></td>
                  <td><?=$t->expertise ?? " " ?></td>
                    <td><?=$t->qualifications ?? " " ?></td>
                    <td> <button class="rate"id="popup-button">Rate</button> </td>
                    
                   
                </tr> 
                <?php $i++; } ?> 
            </tbody>
        </table>
        <div class="table-btn">
          <button class="pre">Previous</button>
          <button class="next">Next</button>
        </div>
    </div>
</div>
<div class="wrapper" id="popup-overlay">
  <div id="popup-content">
    <h2>Rate</h2>
    <p>Rate your tutor on a scale of 1 to 5. This action cannot be undone</p>
    <form action="#" id="feedback-form">
      <div class="rating">
          <input type="number" name="rating" value="4"  hidden>
          <i class='bx bx-star star' style="--i: 0;"></i>
          <i class='bx bx-star star' style="--i: 1;"></i>
          <i class='bx bx-star star' style="--i: 2;"></i>
          <i class='bx bx-star star' style="--i: 3;"></i>
          <i class='bx bx-star star' style="--i: 4;"></i>
      </div>
      <!-- <textarea name="opinion" cols="30" rows="5" placeholder="Your opinion..."></textarea> -->
      <div class="btn-group">
        <button class="btn cancel" id="close-button">Cancel</button>
       <button type="submit" class="btn submit">Submit</button>
          
      </div>
  </form>
  </div>
</div>
</main>