<main >
  <h1>Submissions & Feedback
    
  </h1>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <form>
        <h2>create session</h2>
        <p>please enter the details for the session</p>
        <div class="form-group">
          <label for="name">Tutor Name</label>
          <input type="text" id="name" name="name" >
        </div>
        <div class="form-group">
          <label for="topic">Topic</label>
          <input type="text" id="topic" name="topic" >
        </div>
        <div class="form-group">
          <label for="session">Session details</label>
          <input type="text" id="session" name="session" >
        </div>
        
       <div class="button">
        <input type="submit" value="close" class="btn1-submit close">
        <input type="submit" value="Submit" class="btn2-submit">
      </div>
      </form>
    </div>
  </div>
  
  <div class="cards">
    <div class="card">
      <div class="header">
       
        <p class="alert">Course Tutor
          
        </p>
      </div>
      <h1>Nabende Peter</h1>
      
    </div>
    <div class="card">
      <div class="header">
       
        <p class="alert">Course Topic</p>
      </div>
       <h1>12</h1>
    </div>
    <div class="card">
      <div class="header">
       
        <p class="alert">Course Coverage</p>
      </div>
       <h1>6 out Of 12</h1>
    </div>   
</div>

  <!-- input -->
  <div class="content">
    <form id="animated">
    <input type="text" name="search" placeholder="Search..">
    </form>
    <div class="table">
      <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> <input type="checkbox"></th>
                    <th> course Name </th>
                    <th>Tutor</th>
                    <th> Grade </th>
                    <th>Overall Evaluation</th>
                    <th>Suggestions For Improvement</th>              
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 1 </td>
                    <td> Web design</td>
                    <td></td>
                    <td> </td>
                    <td>  </td>
                    <td></td>
                   
                </tr>
                <tr>
                    <td> 2 </td>
                    <td>Cyber Security </td>
                    <td></td>
                    <td> </td>
                    <td>  </td>
                   <td></td>
                    
                </tr>
                <tr>
                    <td> 3</td>
                    <td> UI/UX Design</td>
                    <td></td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    
                </tr>          
            </tbody>
        </table>
        <div class="table-btn">
          <button class="pre">Previous</button>
          <button class="next">Next</button>
        </div>
    </div>
</div>
</main>